<div class="vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="col-sm-8 col-md-7 col-lg-5 col-xl-4 p-5 shadow-sm border rounded-3 p-5">        
        <div class="alert alert-warning" role="alert">
            Debe iniciar sesión primero
        </div>
        <a href="/login">Iniciar sesión</a>
    </div>
</div>